*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(rgb(56, 216, 181), rgb(71, 125, 224));
    // background: url("背景画像") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
     
.bubbles {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
top: 0;
left: 0;
z-index: -1;
}
    
.bubble {
position: absolute;
bottom: -40;
width: 40px;
height: 40px;
background-color: transparent;
border: 1px solid #fff;
border-radius: 50%;
animation: bubble 10s ease-in infinite;
}
    
.bubble:nth-child(1) {
width: 20px;
height: 20px;
left: 30%;
animation-duration: 6s;
}
    
.bubble:nth-child(2) {
left: 20%;
animation-duration: 3.5s;
}
    
.bubble:nth-child(3) {
width: 30px;
height: 30px;
left: 30%;
animation-duration: 7s;
}
    
.bubble:nth-child(4) {
width: 50px;
height: 50px;
left: 67%;
animation-duration: 6s;
}
    
.bubble:nth-child(5) {
width: 20px;
height: 20px;
left: 70%;
animation-duration: 4.5s;
}
    
@keyframes bubble {
    0% {
    bottom: -100px;
    transform: translateX(0);
    }
    50% {
    transform: translateX(100px);
    }
    100% {
    bottom: 1000px;
    }
}

.claculate-wrapper{
    margin: 2em 4em;
    z-index: 1;
    button{
        width: 80px;
        height: 80px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 2em;
    }
    .row1{
        background-color: rgb(116, 236, 236);
    }
    .row2{
        background-color: rgb(91, 204, 212);
    }
    .row3{
        background-color: rgb(69, 162, 179);
    }
    .row4{
        background-color: rgb(75, 139, 177);
    }
    .row5{
        background-color: rgb(57, 99, 153);
    }
    .row6{
        background-color: rgb(41, 60, 124);
    }
    input{
        border: 1px solid #aaa;
        font-size: 1.5em;
        width: 240px;
        height: 40px;
        margin: 0 2em;
    }
}

.fishes{
    width: 100%;
}

.fishes{
    width: 100px;
    height: 100px;
    .fish1{
        // transform: rotate(-90deg);
        position: absolute;
        top: 200px;
        width: 100px;
        height: 100px;
        animation: fish 8s ease-in infinite; /*ease-inは最初ゆっくりで後半に減速 速め*/
        z-index: -2;
    }
    .fish2{
        // transform: rotate(-90deg);
        position: absolute;
        width: 100px;
        height: 100px;
        top: 400px;
        z-index: -2;
        animation: fish4 18s ease-out infinite; /*ease-inは最初ゆっくりで後半に減速　ゆっくり*/
    }
    .fish3{
        // transform: rotate(-90deg);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        z-index: -2;
        animation: fish3 30s ease-in infinite; /*ease-inは最初ゆっくりで後半に減速*/  
    }
    .fish4{
        // transform: rotate(-90deg);
        position: absolute;
        top: 240px;
        width: 100px;
        height: 100px;
        z-index: -2;
        animation: fish4 10s ease-in infinite; /*ease-inは最初ゆっくりで後半に減速*/   
    }
    .fish5{
        position: absolute;
        // transform: rotate(-90deg);
        top: 500px;
        width: 100px;
        height: 100px;
        z-index: -2;
        animation: fish5 40s ease-in infinite; /*ease-inは最初ゆっくりで後半に減速*/   
    }
    .fish6{
        width: 100px;
        height: 100px;
        // transform: rotate(-90deg);
        position: absolute;
        top: 300px;
        z-index: -2;
        animation: fish2 13s ease-out infinite; /*ease-inは最初ゆっくりで後半に減速*/ 
    }
}

@keyframes fish{
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translate(calc(40vw - 100px), 100px);
    }
    80% {
        transform: translate(calc(80vw - 100px), 150px);
    }
    100% {
        transform: translate(calc(100vw - 100px), 200px);
    }
}
@keyframes fish2{
    100% {
        transform: translateX(0);
    }
    70% {
        transform: translate(calc(30vw - 100px), 200px);
    }
    30% {
        transform: translate(calc(70vw - 100px), -300px);
    }
    0%{
        transform: translate(calc(100vw - 100px), -100px);

    }
}
@keyframes fish3{
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translate(calc(100vw - 100px), 200px);
    }
}
@keyframes fish4{
    100% {
        transform: translateX(0);
    }
    70% {
        transform: translate(calc(30vw - 100px), -150px);
    }
    30% {
        transform: translate(calc(70vw - 100px), 100px);
    }
    0%{
        transform: translate(calc(100vw - 100px), 200px);

    }
}
@keyframes fish5{
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translate(calc(30vw - 100px), -50px);
    }
    70% {
        transform: translate(calc(70vw - 100px), 50px);
    }
    100%{
        transform: translate(calc(100vw - 100px), -50px);

    }
}
